<!doctype html>
<body>
<form action="/measure/new" method="POST">
    <label for="Object Name">Object Name:</label><br>
    <input type="text" id="object_name" name="object_name"><br><br>

    <label for="width">Object Width:</label><br>
    <input type="text" id="object_width" name="object_width"><br><br>
    
    <label for="width">Object Height:</label><br>
    <input type="text" id="object_height" name="object_height"><br><br>
    
    <label for="width">Object Area:</label><br>
    <input type="text" id="object_area" name="object_area"><br><br>

    
    <button><a>Send</a></button><br>
</form>
<p><a href="{{ url_for('measure_list') }}">AR Measure List</a></p>
</body>